body, select, option, input {
	font-family: verdana;
	font-size: 1.0em;
	font-weight: bold;
}

#layoutTable {
	border: 0px;
	border-collapse:  collapse;
	margin: 0px;
	padding: 0px;
}

#canvasDiv {
	/*border: 1px solid black;*/
	max-width: 600px;
}

#debugConsoleDiv {
	border: 1px solid black;
	background-color: gray;
	font-family: Verdana;
	font-size: 12px;
	color: white;
	width:680px;
	text-align: left;
	padding: 8px;
}